<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0"
          name="viewport" />
    <title>Bond Codes</title>
    <base href="/" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
          rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css"
          rel="stylesheet" />
    <link rel="stylesheet"
          href="@Assets["css/app.css"]" />
    <link rel="stylesheet"
          href="@Assets["AboutMe.Web.styles.css"]" />
    <link href="@Assets["images/icon-512.png"]"
          rel="icon"
          type="image/png" />
    <link href="https://mastodon.social/@@codemonkey85"
          rel="me" />
    <link href="https://micro.blog/codemonkey85"
          rel="me" />
    <link href="https://vernissage.photos/@@codemonkey85"
          rel="me" />
    <ImportMap />
    <HeadOutlet @rendermode="InteractiveServer" />
    <link rel="manifest" href="manifest.webmanifest">
    <meta name="theme-color" content="#000000">
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('service-worker.published.js');
        }
    </script>
</body>

</html>
