@page "/"

<PageTitle>
    Michael Bond
</PageTitle>

<MudText Typo="@Typo.h3">
    My name is Michael Bond.
</MudText>

<picture>
    <source srcset="_content/aboutme.library/images/mbond.png"
            type="image/png"
            media="(min-width: 800px)"
            class="profile-image" />
    <img src="_content/aboutme.library/images/mbond.png"
         class="profile-image"
         alt="Michael Bond"
         title="Michael Bond" />
</picture>

<p>
    I'm an autistic obsessive software developer and Pokémon fan.
    <br />
    My pronouns are He / Him (
    <a href="https://pronoun.is/he">
        https://pronoun.is/he
    </a>).
</p>
<p>
    <a href="https://mastodon.social/@@codemonkey85" rel="me">
        Follow me on Mastodon.
    </a>
</p>
