@page "/"

<PageTitle>Michael Bond</PageTitle>

<h1>Michael Bond</h1>

<picture>
    <source srcset="_content/aboutme.library/images/mbond.png"
            type="image/png"
            media="(min-width: 800px)"
            class="profile-image" />
    <img src="_content/aboutme.library/images/mbond.png"
         class="profile-image"
         alt="Michael Bond"
         title="Michael Bond" />
</picture>

<p>Autistic obsessive software developer and Pokémon fan.<br />He / Him (<a href="https://pronoun.is/he">https://pronoun.is/he</a>).</p>
