@page "/pokemon"

<PageTitle>Michael Bond - Pokémon</PageTitle>

<h1>My Pokémon Info</h1>

<h2>Nintendo Switch Friend Code:</h2>
SW-4666-0665-3400

<p>I have <strong>Pokémon Violet</strong>, in-game name: Mike</p>

<p>I am looking for the following Pokémon:</p>

@foreach (var group in MissingPokemon.GroupBy(p => p.GroupName))
{
    <h4>@group.Key</h4>
    <ul>
        @foreach (var pkm in group)
        {
            <li><a href="@($"https://serebii.net/pokedex-sv/{pkm.Name.ToLower().Replace(" ", string.Empty).Replace("é", "e")}")">#@pkm.Id.ToString("000") @pkm.Name</a></li>
        }
    </ul>
}

<h2>Pokemon Home Friend Code:</h2>
UFBJTSXDLGJG (or scan the below QR code)
<br />
<picture>
    <source srcset="_content/aboutme.library/images/PokemonHomeFriendCode.png"
            type="image/png"
            media="(min-width: 800px)"
            class="home-friend-code"
            alt="My Friend Code"
            title="My Friend Code" />
    <img src="_content/aboutme.library/images/PokemonHomeFriendCode.png"
         class="home-friend-code"
         alt="My Friend Code"
         title="My Friend Code" />
</picture>

<h2>Pokemon GO Friend Code</h2>
6226 8310 1651 (or scan the below QR code)
<br />

<picture>
    <source srcset="_content/aboutme.library/images/PokemonGOFriendCode.png"
            type="image/png"
            media="(min-width: 800px)"
            class="go-friend-code"
            alt="My Friend Code"
            title="My Friend Code" />
    <img src="_content/aboutme.library/images/PokemonGOFriendCode.png"
         class="go-friend-code"
         alt="My Friend Code"
         title="My Friend Code" />
</picture>
