@page "/Weather"

<PageTitle>
    @Constants.SiteName - Weather
</PageTitle>

<MudText Typo="@Typo.h3">
    Blog
</MudText>

@if (IsLoading)
{
    <MudText>
        Loading...
    </MudText>
}
else if (!forecasts.Any())
{
    <MudText>
        No weather found.
    </MudText>
}
else
{
    <ul>
        @foreach (var forecast in forecasts)
        {
            <li>
                @forecast.Summary
            </li>
        }
    </ul>
}
