@page "/Blog"

<h3>
    @FeedTitle
</h3>

<ul>
    @foreach (var post in Posts)
    {
        <li>
            
            <strong>
                @post.Title
            </strong>

            <br/>

            Date Published: @post.DatePublished.ToLocalTime().ToString("f")

            <div>
                @(new MarkupString(post.ContentHtml))
            </div>

            <a href="@post.Url"
               target="_blank">
                Read more
            </a>

        </li>
    }
</ul>
