@page "/Blog"

<h3>
    @FeedTitle
</h3>

<MudStack>
    @foreach (var post in Posts)
    {
        <MudCard>

            <MudCardHeader>
                <MudStack>
                    <MudText Typo="Typo.h6">
                        @post.Title
                    </MudText>
                    <MudText Typo="Typo.subtitle2">
                        Date Published: @post.DatePublished.ToLocalTime().ToString("f")
                    </MudText>
                </MudStack>
            </MudCardHeader>

            <MudCardContent>
                @(new MarkupString(post.ContentHtml))
            </MudCardContent>

            <MudCardActions>
                <MudButton Href="@post.Url"
                           Target="_blank">
                    Read more
                </MudButton>
            </MudCardActions>

        </MudCard>
    }
</MudStack>
