@page "/contact"

<h1>Contact Me</h1>
<ul>
    <li><a href="https://twitter.com/codemonkey85">Follow me on Twitter</a></li>
    <li><a rel="me" href="https://mastodon.social/@@codemonkey85">Follow me on Mastodon</a></li>
    <li><a href="https://t.me/codemonkey85">Message me on Telegram</a></li>
</ul>
