@page "/"

<PageTitle>Michael Bond</PageTitle>

<h1>Welcome to my web page!</h1>
<h3>Things are in progress.</h3>

<picture>
    <source srcset="images/mbond.png"
            type="image/png"
            media="(min-width: 800px)"
            class="profile-image" />
    <img src="images/mbond.png"
         class="profile-image"
         alt="Michael Bond"
         title="Michael Bond" />
</picture>
