@page "/pokemon"

<PageTitle>Michael Bond - Pokémon</PageTitle>

<h1>My Pokémon Info</h1>

<h2>Nintendo Switch Friend Code:</h2>
SW-4666-0665-3400

I have <strong>Pokémon Shield</strong>, in-game name: Mike (male)

<h2>Pokemon Home Friend Code:</h2>
UFBJTSXDLGJG (or scan the below QR code)
<br />
<img src="images/PokemonHomeFriendCode.png"
     class="profile-image"
     title="My Friend Code" />

<h2>Pokemon GO Friend Code</h2>
6226 8310 1651 (or scan the below QR code)
<br />
<img src="images/PokemonGOFriendCode.png"
     class="profile-image"
     title="My Friend Code" />
