@page "/projects"

<h1>My Projects</h1>
<ul>
    <li>Four Is The Magic Number!: <a href="https://black-sea-00acdf50f.azurestaticapps.net/">https://black-sea-00acdf50f.azurestaticapps.net/</a></li>
    <li>Tic Tac Toe Blazor: <a href="https://codemonkey85.github.io/TicTacToeBlazor/">https://codemonkey85.github.io/TicTacToeBlazor/</a></li>
    <li>Sound Test: <a href="https://polite-wave-0e108230f.azurestaticapps.net/">https://polite-wave-0e108230f.azurestaticapps.net/</a></li>
    <li>Something else coming someday soon: <a href="https://twitter.com/codemonkey85/status/1496529886277779462">https://twitter.com/codemonkey85/status/1496529886277779462</a></li>
</ul>
