@using aboutme.Components;

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Michael Bond</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    @if (NavPages?.Any() ?? false)
    {
        <ul class="nav flex-column">
            @foreach (MarkdownPage navPage in NavPages)
            {
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="@navPage.PagePath" Match="navPage.NavLinkMatch">
                        <span class="@navPage.SpanClass" aria-hidden="true" /> @(navPage.PageName)
                    </NavLink>
                </li>
            }
        </ul>
    }
</div>
