@using aboutme.Components;

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Michael Bond</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    @if ((Pages?.Count() ?? 0) > 0)
    {
        <ul class="nav flex-column">
            @foreach (MarkdownPage page in Pages)
            {
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="@(page.PagePath)" Match="page.NavLinkMatch">
                        <span class="@(page.SpanClass)" aria-hidden="true"></span> @(page.PageName)
                    </NavLink>
                </li>
            }
        </ul>
    }
</div>
