/* _content/aboutme.library/Pages/Index.razor.rz.scp.css */
.profile-image[b-cstltum9c7] {
    width: 200px;
    height: 200px;
}
/* _content/aboutme.library/Pages/Pokemon.razor.rz.scp.css */
.home-friend-code[b-yqn6zbpo7c] {
    width: 200px;
    height: auto;
}

.go-friend-code[b-yqn6zbpo7c] {
    width: 250px;
    height: auto;
}
/* _content/aboutme.library/Shared/MainLayout.razor.rz.scp.css */
.page[b-ln0lq39o4m] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-ln0lq39o4m] {
    flex: 1;
}

.sidebar[b-ln0lq39o4m] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-ln0lq39o4m] {
    background-color: var(--background);
    color: var(--font-color);
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-ln0lq39o4m]  a, .top-row[b-ln0lq39o4m]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row[b-ln0lq39o4m]  a:hover, .top-row[b-ln0lq39o4m]  .btn-link:hover {
            text-decoration: underline;
        }

        .top-row[b-ln0lq39o4m]  a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-ln0lq39o4m] {
        display: none;
    }

    .top-row.auth[b-ln0lq39o4m] {
        justify-content: space-between;
    }

    .top-row[b-ln0lq39o4m]  a, .top-row[b-ln0lq39o4m]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-ln0lq39o4m] {
        flex-direction: row;
    }

    .sidebar[b-ln0lq39o4m] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-ln0lq39o4m] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-ln0lq39o4m]  a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row[b-ln0lq39o4m], article[b-ln0lq39o4m] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

.top-row-link[b-ln0lq39o4m] {
    margin-left: 0.35rem;
    margin-right: 0.35rem;
}
/* _content/aboutme.library/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-7elnc3l92q] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-7elnc3l92q] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-7elnc3l92q] {
    font-size: 1.1rem;
}

.oi[b-7elnc3l92q] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-7elnc3l92q] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-7elnc3l92q] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-7elnc3l92q] {
        padding-bottom: 1rem;
    }

    .nav-item[b-7elnc3l92q]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-7elnc3l92q]  a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item[b-7elnc3l92q]  a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

@media (min-width: 641px) {
    .navbar-toggler[b-7elnc3l92q] {
        display: none;
    }

    .collapse[b-7elnc3l92q] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
