@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            This page is made with <a href="https://dotnet.microsoft.com/apps/aspnet" target="_blank" class="top-row-link">ASP.NET</a> and <a href="http://blazor.net" target="_blank" class="top-row-link">Blazor</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
